Data/Connected Services/ServiceReferencePedidos/ServicePedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePedidos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50062/ServicePedidos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50062/ServicePedidos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50062/ServicePedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePedidos_GetAllPedidos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPedidos" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_GetAllPedidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_GetAllPedidosByCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPedidosByCliente" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_GetAllPedidosByCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPedidosByClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_InsertPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPedido" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_InsertPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DeletePedido_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePedido" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DeletePedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePedidos">
    <wsdl:operation name="GetAllPedidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/GetAllPedidos" message="tns:IServicePedidos_GetAllPedidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/GetAllPedidosResponse" message="tns:IServicePedidos_GetAllPedidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPedidosByCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/GetAllPedidosByCliente" message="tns:IServicePedidos_GetAllPedidosByCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/GetAllPedidosByClienteResponse" message="tns:IServicePedidos_GetAllPedidosByCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/InsertPedido" message="tns:IServicePedidos_InsertPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/InsertPedidoResponse" message="tns:IServicePedidos_InsertPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/DeletePedido" message="tns:IServicePedidos_DeletePedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/DeletePedidoResponse" message="tns:IServicePedidos_DeletePedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServicePedidos" />
</wsdl:definitions>