Data/Connected Services/ServiceReferencePedidos/ServicePedidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadTotal" type="xs:int" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ClienteFK" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Pedido_Productos" nillable="true" type="tns:ArrayOfPedido_Productos" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfPedido_Productos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido_Productos" nillable="true" type="tns:Pedido_Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido_Productos" nillable="true" type="tns:ArrayOfPedido_Productos" />
  <xs:complexType name="Pedido_Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Pedido" nillable="true" type="tns:Pedido" />
      <xs:element minOccurs="0" name="PedidoFK" type="xs:int" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
      <xs:element minOccurs="0" name="ProductoFK" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido_Productos" nillable="true" type="tns:Pedido_Productos" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
      <xs:element minOccurs="0" name="CategoriaFK" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedido_Productos" nillable="true" type="tns:ArrayOfPedido_Productos" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>