Data/Connected Services/ServiceReferenceProductos/ServiceProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50062/ServiceProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50062/ServiceProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50062/ServiceProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProductos_GetAllProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_GetAllProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_GetAllProductosByCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductosByCategoria" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_GetAllProductosByCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductosByCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_GetProductosById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosById" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_GetProductosById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProductos">
    <wsdl:operation name="GetAllProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/GetAllProductos" message="tns:IServiceProductos_GetAllProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/GetAllProductosResponse" message="tns:IServiceProductos_GetAllProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductosByCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/GetAllProductosByCategoria" message="tns:IServiceProductos_GetAllProductosByCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/GetAllProductosByCategoriaResponse" message="tns:IServiceProductos_GetAllProductosByCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductosById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/GetProductosById" message="tns:IServiceProductos_GetProductosById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/GetProductosByIdResponse" message="tns:IServiceProductos_GetProductosById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceProductos" />
</wsdl:definitions>